{
  "identities": [
    {
      "name": "raven",
      "credentials": [
        {
          "accessKey": "REPLACE-ME-GENERATED-ON-FIRST-RUN",
          "secretKey": "REPLACE-ME-GENERATED-ON-FIRST-RUN"
        }
      ],
      "actions": [
        "Admin",
        "Read",
        "Write"
      ]
    }
  ]
}
